<html>
<head>
    <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="static/status.css" media="screen" title="no title" charset="utf-8">
  <link href="static/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="static/font-awesome.min.css">
  <script src="static/jquery.min.js"></script>
 <script src="static/jquery-ui.min.js"></script>
  <script src="static/keypress.js"></script>
  <script src="static/socket.io.min.js"></script>



  <style type="text/css">
  #stream {
    height: 99%;
    margin: 0px auto;
    display: block;
    margin-top: 20px;
  }
  </style>


</head>
<body style="text-align:center; ">

<div class="panel">
  <br>
  <img style="width:150px" src="static/img/logo.png" alt="" />
  <br>
  <p style="color:#6f6f6f;">Data Log</p>

  <br>

    <ul class="menu">


        <a href="/graph" name="button"><svg style="width:24px;height:24px" viewBox="0 0 24 24">
    <path fill="#000000" d="M16,11.78L20.24,4.45L21.97,5.45L16.74,14.5L10.23,10.75L5.46,19H22V21H2V3H4V17.54L9.5,8L16,11.78Z" />
</svg> Ver Graficas</a>
</ul>

  <table class="table table-hover">
  <thead>
    <tr>
      <th>MUESTRA</th>
      <th scope="col">TIMESTAMP</th>
      <th scope="col">CPM</th>
      <th scope="col">Sv0/h</th>
      <th scope="col">Sv1/h</th>
      <th scope="col">DP</th>
      <th scope="col">HI</th>
      <th scope="col">HUM</th>
      <th scope="col">IR</th>
      <th scope="col">TEMP</th>
      <th scope="col">UV</th>
      <th>VIS</th>
    </tr>
  </thead>
  <tbody id="data-list">

  </tbody>
</table>

</div>
</body>

<script src="https://www.gstatic.com/firebasejs/4.8.0/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyDK1n3VWszsogMTa0jawcR1s29FWA0Cy-c",
    authDomain: "voyager01.firebaseapp.com",
    databaseURL: "https://voyager01.firebaseio.com",
    projectId: "firebase-voyager01",
    storageBucket: "firebase-voyager01.appspot.com",
    messagingSenderId: "891548660461"
  };
  firebase.initializeApp(config);





  firebase.database().ref('/samples').on('child_added', function(child) {

      
              var key = child.key;
              var value = child.val();
              $("#data-list").append(" <tr> \
                <td> <a href='/sample/"+ key +"'>" + value.sensors.sample + " </a> </td> \
                <td>" + value.published_at + "</td> \
                <td>" + value.sensors.cpm + "</td> \
                <td>" + value.sensors.sv0 + "</td> \
                <td>" + value.sensors.sv1 + "</td> \
                <td>" + value.sensors.dp + "</td> \
                <td>" + value.sensors.hi + "</td> \
                <td>" + value.sensors.hum + +" %"+ "</td> \
                <td>" + value.sensors.ir + "</td> \
                <td>" + value.sensors.temp + " °C" + "</td> \
                <td>" + value.sensors.uv + "</td> \
                <td>" + value.sensors.vis + "</td> \
                </tr>");
      });
  

</script>

</html>